<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <title>New message</title>
    <div class="header">
    <h2>Lisää uusi viesti</h2>
    </div>
    <form action="/newmessage/{{message_id}}" method="POST">
        <div class="content">
            Viesti: 
            <br>
            <textarea name="new_message" rows="3" cols="50"></textarea>
            <br>
            <br>
            Näkyvyys:
            <br>
            <input type="radio" name="visibility" value="1" required> Kaikille
            <input type="radio" name="visibility" value="2" required> VAIN Ylläpitäjät
            <br>
            <br>
            <input type="submit" value="Lisää viesti" required>
        </form>
    <br><br>
    <p>Etkö halua kirjoittaa viestiä? Palaa aiheeseen <b><a href="/messages/{{message_id}}">tästä.</a></b></p>
</div>
</body>