<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <title>New Submessage</title>
    <div class="header">
    <h2>Lisää uusi viesti</h2>
    </div>
    <form action="/newsubmessage/{{message_id}}" method="POST">
        <div class="content">
            Viesti: 
            <br>
            <textarea name="new_submessage" rows="3" required cols="50"></textarea>
            <br>
            <br>
            <br>
            <input type="submit" value="Lisää viesti" required>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="hidden" name="message_id" value="{{ message_id }}">
        </form>
    <br><br>
    <p>Etkö halua kirjoittaa viestiä? Palaa aiheeseen <b><a href="/submessages/{{message_id}}">tästä.</a></b></p>
</div>
</body>