<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <title>Reputation</title>
    <div class="header">
    <h2><p>Eniten tykkäyksiä saaneet.</p></h2>
    <h2><p>&#128525;</p></h2>
    </div>
    <div class="message_content">
    <hr>
    {% for person in list %}
    Nimimerkki: {{person[0]}} | 
    Tykkäysten määrä: {{ person[1] }}
    <br>
    <hr>
    {% endfor %}
    </div>
    <div class="control">
    <p>Palaa aiheisiin <b><a href="/topics">tästä.</a></b></p>
    <p>Kirjaudu ulos <b><a href="/logout">tästä.</a></b></p>
    </div>
    <div class="search">
        <form action="/result" method="GET">
            Hae viestejä: <input type="text" required name="query">
            <input type="submit" value="Hae">
        </form>
    </div>
    <div class="search">
        <p>Hae ja muokkaa omia viestejäsi <b><a href="/ownmessages">tästä.</a></b></p>
    </div>
</body>
